---
import '../../styles/learningcenter.scss';
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---
<head>
  <!-- usefathcom.com/ref/VIGUPS -->
  <script src="https://cdn.usefathom.com/script.js" data-site="TMSFJGNL" defer></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png">
  <title>Weave Learning Center{title ? `: ${title}` : null}</title>
</head>
