---
import BaseHead from "../components/BaseHead.astro";
import NavHeader from "../components/NavHeader.astro";
---

<!DOCTYPE html>
<html>
<BaseHead/>
<body>
  <a href="/"><img class="logo" src="/wv-learningcenter-logo.svg" alt="Weave Learning Center"></a>
  <NavHeader hideLogo class="center"/>
  <nav class="menu grid">
    <header class="storytelling">
      <h2 class="theme">Storytelling</h2>
      <h3 class="subtitle">Public Narrative</h3>
    </header>
    <a href="/storytelling/story-of-everything" class="course storytelling">
      <h3>Storytelling</h3>
      <p>Learn the practice of telling your story, sharing with others to connect across shared values, and moving together with trust on issues of urgency.</p>
      <p class="partner">In collaboration with Leading Change Network</p>
    </a>

    <header class="gathering">
      <h2>Gatherings</h2>
      <h3>Facilitating Conversations</h3>
    </header>
    <a href="/gathering/group-facilitation" class="course gathering">
      <h3>Facilitating Groups</h3>
      <p>Learn how to bring weavers together to engage in dialogue in a way that builds bridges, connection, and trust.</p>
      <p class="partner">In collaboration with The People’s Supper</p>
    </a>
<!--
    <a href="/gathering/circle-facilitation" class="course gathering">
      <h3>Facilitating Circles</h3>
      <p>Learn how to bring weavers together to engage in dialogue in a way that builds bridges, connection, and trust.</p>
      <p class="partner">Dr. Robert Spicer Sr. of The People’s Supper</p>
    </a>
-->

    <header class="action">
      <h2>Action</h2>
      <h3>Leading Community Change</h3>
    </header>
    <a href="/action/asset-based-community-development" class="course action">
      <h3>Asset-Based Community Development</h3>
      <p>Learn how to connect people across your community and work together to map a pathway to change.</p>
      <p class="partner">In collaboration with Leading Change Network & ABCD Institute</p>
    </a>
<!--
    <a href="/action/community-organizing" class="course action">
      <h3>Community Organizing</h3>
    </a>
-->
  </nav>
</body>
</html>

<style>
  body {
    max-width: 1300px;
    margin: auto;
  }

  nav.center {
    justify-content: center;
  }
</style>