---
interface Link {
  href: URL,
  text: String,
  assessment: Boolean
}

export interface Props {
  items: Array<Link>;
}

const { items } = Astro.props;
---
<div class="links">
  {items.map(link =>
    <a className={link.assessment ? 'assessment' : null} target="_blank" href={link.href}>{link.text}</a>
  )}
</div>
