---
import BaseHead from "../components/BaseHead.astro";
import NavHeader from "../components/NavHeader.astro";
---

<!DOCTYPE html>
<html>
<BaseHead/>
<body>
  <a href="/"><img class="logo" src="/wv-learningcenter-logo.svg" alt="Weave Learning Center"></a>
  <NavHeader hideLogo class="center"/>
  <div class="site-introduction">
    <p>Whether you have deep experience weaving in your community, want to add skills to your practice, or are new to weaving, we hope the Weave Learning Center will provide helpful knowledge and inspiration.</p>
    <p>Once you complete a lesson or unit, you’ll find an opportunity to submit a Reflection and earn a Certificate of Completion. To earn the certificate and join conversations, you’ll need to become a member of our free online community. We hope to see you there soon!</p>
  </div>
  <nav class="menu grid">
    <header class="storytelling">
      <h2 class="theme">Storytelling</h2>
      <h3 class="subtitle">Sharing Values</h3>
    </header>
    <a href="/storytelling/public-narrative" class="course storytelling">
      <h3>Storytelling</h3>
      <p>Learn the practice of telling your story, sharing with others to connect across shared values, and moving together with trust on issues of urgency.</p>
      <p class="partner">In collaboration with Leading Change Network</p>
    </a>
    <a href="/storytelling/public-speaking" class="course storytelling">
      <h3>Public Speaking</h3>
      <p><em>Early signup:</em> Learn to become a confident public speaker through live workshops and solo practice.</p>
      <p class="partner">In collaboration with Lightbox Collaborative</p>
    </a>
    
    
    
    

    <header class="gathering">
      <h2>Gatherings</h2>
      <h3>Facilitating Conversations</h3>
    </header>
    <a href="/gathering/group-facilitation" class="course gathering">
      <h3>Facilitating Groups</h3>
      <p>Learn how to bring weavers together to engage in dialogue in a way that builds bridges, connection, and trust.</p>
      <p class="partner">In collaboration with The People’s Supper</p>
    </a>
    <a href="/gathering/circle-facilitation" class="course gathering">
      <h3>Facilitating Circles</h3>
      <p>Learn the practice and history of Circles, and how to form and lead one.</p>
      <p class="partner">In collaboration with Restorative Strategies</p>
    </a>

    <header class="action">
      <h2>Action</h2>
      <h3>Leading Community Change</h3>
    </header>
    <a href="/action/asset-based-community-development" class="course action">
      <h3>Asset-Based Community Development</h3>
      <p>Learn how to connect people across your community and work together to map a pathway to change.</p>
      <p class="partner">In collaboration with the ABCD Institute</p>
    </a>
<!--
    <a href="/action/community-organizing" class="course action">
      <h3>Community Organizing</h3>
    </a>
-->
  </nav>
</body>
</html>

<style>
  body {
    max-width: 1300px;
    margin: 2rem auto;
  }

  .logo {
    display: block;
    max-width: 1100px;
    margin: auto;
  }

  nav.center {
    justify-content: center;
  }
</style>