@font-face {
  src: url("./fonts/avenirnext-bold.eot");
  src: url("./fonts/avenirnext-bold.woff2") format("woff2"),
       url("./fonts/avenirnext-bold.woff") format("woff");
  font-family: "AvenirNext-Bold";
}

@font-face {
  src: url('./fonts/FernVariable-Roman-VF.woff2') format("woff2"),
       url('./fonts/FernVariable-Roman-VF.woff') format("woff");
  font-family: 'Fern Text';
  font-style: normal;
  font-weight: 400 800;
}

@font-face {
  src: url('./fonts/FernVariable-Italic-VF.woff2') format("woff2"),
       url('./fonts/FernVariable-Italic-VF.woff') format("woff");
  font-family: 'Fern Text';
  font-style: italic;
  font-weight: 400 800;
}

:root {
  --blue-community: #262869;
  --red-strength: #9b1c20;
  --yellow-joy: #f99b1c;
  --green-perseverance: #18783c;
}

body {
  box-sizing: border-box;
  --bg-color: #f9fbfc;
  background-color: var(--bg-color);
  color: #252525;
  font-family: 'Fern Text', 'Hoefler Text', serif;
  font-size: 18px;
  margin: 0;
  padding: 1em;
  height: 100vh;
}

blockquote {
  font-style: italic;
}

.course-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 1rem;
  grid-template: "nav les" auto / max-content;

  h1, h2, h3, nav, .links a {
    color: var(--blue-community);
  }

  nav {
    padding: 1em;
    grid-area: "nav";
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
  }

  h2 {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    border-bottom: 0.5rem solid currentColor;
  }
}

h1, h2, h3, .links a {
  font-family: 'AvenirNext-Bold', sans-serif;
  margin: 0;
}

p.course-introduction {
  font-size: 1.2em;
  color: var(--blue-community);
  font-variant-numeric: lining-nums;
}

p {
  line-height: 1.4em;
  font-weight: 450;
}

nav a {
  display: block;
  text-decoration: none;
  color: currentColor;
  opacity: 0.8;
}

nav a.help {
  color: var(--green-perseverance);
  margin-top: auto;
}

nav a:hover {
  opacity: 1;
}

main {
  grid-area: "les";
  overflow-y: auto;
  scroll-behavior: smooth;
}

main section {
  margin-top: 150px;
}

main > *:not(section),
section > *:not(h2) {
  padding-right: 1em;
  max-width: 1200px;
}

section .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.links a {
  display: block; /* not necessary, but canonical */
  text-decoration: none;
  background-color: var(--yellow-joy);
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  padding: 3em;
  border-radius: 1em;
  border: 0 solid currentColor;
  transition: border-width 0.2s, padding 0.2s;
}

.links a:hover {
  padding: 2.5em;
  border-width: 0.5em;
}

section.assessment .links a {
  background-color: var(--green-perseverance);
  color: var(--bg-color);
  border-color: var(--yellow-joy);
}

.embed-container {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* COURSE SELECTION */

nav.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  grid-auto-flow: column;
  gap: 1rem;

  max-width: 1300px;
  margin: auto;

  // themes/subjects
  .storytelling {
    grid-column: 1;
    color: var(--blue-community);
  }

  .gatherings {
    grid-column: 2;
    color: var(--red-strength);
  }

  .action {
    grid-column: 3;
    color: var(--yellow-joy);
  }

  a.course {
    // courses
    color: white;
    display: block;
    aspect-ratio: 1 / 1;
    overflow-y: scroll;
    padding: 1rem;
    color: white;
    background-color: var(--green-perseverance);

    &.storytelling {
      background-color: var(--blue-community);
    }

    &.gatherings {
      background-color: var(--red-strength);
    }

    &.action {
      background-color: var(--yellow-joy);
    }
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;

    .storytelling,
    .gatherings,
    .action {
      grid-column: 1;
    }

    a.course {
      aspect-ratio: unset;
    }
  }
}
